.coluna{
    display: flex;
    flex-direction: column;
}

.looonglooooooooooong{
    font-size: 30px;
    color: purple;
    font-weight: bolder;
}

.diladin{
    display: flex;
    flex-direction: row;
}

.foto-do-carinha-que-moro-logo-ali{
    width: 30px;
    height: 35px;
}